[Unit]
Description=openplotter-pypilot-read
DefaultDependencies=false

[Service]
Type=simple
ExecStart=openplotter-pypilot-read
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
