[Unit]
Description=pypilot_lcd
DefaultDependencies=false

[Service]
Type=simple
ExecStart=pypilot_lcd
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=2
